*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial;
}

.header{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: black;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px black;
    z-index: 99;
}
.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.icon-nav{
    display: flex;
    align-items: center;

}

.icon-nav img{
    width: 30px;
    cursor: pointer;
}

nav ul li{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;
    margin-right: 1.5rem;
    cursor: pointer;
}
